@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Sora !important;
  font-weight: bold;
  padding: 0;
}

.close {
  color: #FFFF
}

body {
  overflow-x: hidden;

}

.logoSmart {
  width: 50px;
  border-radius: 50px;
}

.navbar {
  background-color: black !important;

}

.navbar-nav {
  gap: 20px;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: #17B844 !important;
  transition: 0.8s all;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #fff !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu {
  background-color: white;
}

.dropdown-item:hover {
  transition: 0.7s all;
  background-color: #17B844;
}

.logo-texto p {
  margin-top: 15px;
}

.row {
  margin: 0;
  width: 95%;
  padding: 65px 2.5%;
  align-items: center;
}

.col-lg-4 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-muted {
  color: black;
}


.carousel-indicators .botao {
  background-color: black;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.boxs>p {
  font-weight: bold;
  font-size: 20px;
  color: black;
}


.containerOne {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxOne {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

p {
  margin: 0;
}

.boxs {
  min-width: 200px;
  gap: 10px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.imgBox {
  border-radius: 50%;
  padding: 10px;
  width: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  border: 5px solid black;
}

.quadrado {
  width: 100vw;
  height: auto;
  padding: 50px 0;
  background: #28A745;
}

.slides-list {
  /*remove os estilos da lista*/
  list-style-type: none;
  margin: 10px 0;
  padding: 0;

  /* 
	deixa todos os itens da lista
	na horizontal e todos com a
	mesma largura
  */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.carousel-inner {
  height: 500px;
}

.carousel-inner {
  height: 500px;
}

.quadrado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.quadrado-nome1 {
  color: #fff;
  font-size: 3.0rem;
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.quadrado-nome2 {
  color: #000;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.quadrado-nome3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.quadrado-img {
  width: 300px;

}


.whatsapp-link {
  width: 100px;
  height: 50px;
  margin-top: 250px;

}

.btn-outline-light {
  width: 400px;
  margin: 0 auto;
  position: absolute !important;
}

.carousel-inner {
  height: 470px;
  background-color: black;
  justify-content: center;
  display: flex;
}

.carrousel-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  height: 450px;
  background-color: black;
  margin: 0 auto;
}

.d-block-w-100 {
  height: 420px
}

.d-block {
  height: 420px;
}

.box-item {
  width: 100%;
  background-color: #000000;
  color: white;
  margin-top: 0;
}

.box-item-img {
  width: 180px;
  height: 180px;
}

.box-item-img2 {
  width: auto;
  height: auto;
}

.fonte-card {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  padding: 0 15px;
  margin-bottom: 50px;
}

.card-img-top {
  border-radius: 10px;
}

.containerOne {
  width: 100vw;
  background: #000000;
  padding: 20px;
}

.font-footer2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  color: #FFFF;
}

.footer-end {
  text-align: center;
  width: 100vw;
  height: auto;
  background: #ffffff;
  color: #000000;
  padding: 20px;
  font-size: 14px;
}

.text-topo {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 30px;
  font-family: Sora;
  font-weight: 800;
}

.quadrado-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.img-item {
  width: 400px;
  box-shadow: #17d844 0px 3px 10px;
  border-radius: 20px;
}

.text-ofert {
  text-align: center;
  font-family: Sora;
  font-weight: bold;
  margin-top: 200px;
  color: #17d844;
}

.img-ofert {
  height: 45px;
  width: 45px;
  margin-left: 655px;
}

.quadrado-item2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.img-item2 {
  box-shadow: #17d844 0px 3px 10px;
  border-radius: 20px;
  width: 400px;
}

.boxAcessorios {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.imgAcess {
  box-shadow: #17d844 0px 3px 10px;
  border-radius: 20px;
  width: 350px;
}


.carousel {
  box-shadow: #000000 0px 3px 8px;
}

.col-lg-4 {
  gap: 10px;
  margin-bottom: 30px !important;
  text-align: center;
}

#Acess {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 30px;
  font-family: Sora;
  font-weight: bold;
}

.carousel-inner {
  height: 450px;
  background-color: black;
}

.w-100 {
  height: 420px;
}

.logoSmart {
  width: 100px;
}

@media (max-width: 600px) {
  .d-block {
    max-width: 400px !important;
  }
}

@media (max-width: 500px) {
  .quadrado-nome1 {
    font-size: 2.0rem;
  }

  .quadrado-nome2 {
    font-size: 1.5em;

  }

  .quadrado-nome3 {
    font-size: 1em;
  }

}

@media (max-width: 420px) {
  .img-item {
    width: 300px;
  }

  .imgAcess {
    width: 300px;
  }

  .img-item2 {
    width: 300px;
  }

  .carousel-inner {
    display: none;
  }
}

@media (max-width: 310px) {
  .img-item {
    width: 270px;
  }

  .imgAcess {
    width: 270px;
  }

  .img-item2 {
    width: 270px;
  }
}

.carousel-inner img {
  min-height: 200px;
}

@media (max-width: 1000px) {
  .d-block {
    width: 600px !important;
  }
}